{# templates/mamo/densite/_densite_droite.html.twig #}

<div class="card h-100">
    <div class="card-header text-center d-flex justify-content-between align-items-center cursor-pointer">
        <h5 class="mb-0">Sein droit</h5>
        <i class="bi bi-eye toggle-visibility" data-target="densite-seins-content"></i>
    </div>
    <div class="card-body">
        {# Asymétrie de densité #}
        <div class="mb-4">
            <h5 class="mb-3">Asymétrie de densité</h5>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.densite_droite.asymetrie_densite_droite) }}
                </div>
            </div>

            {# Options si asymétrie = Oui #}
            <div id="asymetrieDensiteDroiteDetails" class="d-none mt-3">
                <div class="row mb-3">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.asymetrie_densite_type_droite) }}
                    </div>
                </div>

                {# Options pour asymétrie focale #}
                <div id="asymetrieFocaleDroiteDetails" class="d-none">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_focale_siege_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_focale_profondeur_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_focale_tomo_droite) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_focale_evolution_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_focale_bords_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_focale_anomalie_droite) }}
                        </div>
                    </div>
                </div>

                {# Options pour asymétrie globale #}
                <div id="asymetrieGlobaleDroiteDetails" class="d-none">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form_row(form.densite_droite.asymetrie_globale_localisation_droite) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.densite_droite.asymetrie_globale_valeur_droite) }}
                        </div>
                    </div>
                </div>

                {# Options pour asymétrie simple #}
                <div id="asymetrieSimpeDroiteDetails" class="d-none">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_simple_incidence_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_simple_siege_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_simple_profondeur_droite) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_simple_evolution_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_simple_anomalie_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.asymetrie_simple_valeur_droite) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div id="asymetrieSimpleValeurAutreDroite" class="d-none">
                                {{ form_row(form.densite_droite.asymetrie_simple_valeur_autre_droite) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Distorsion architecturale #}
        <div class="mb-4">
            <h5 class="mb-3">Distorsion architecturale</h5>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.densite_droite.distorsion_architecturale_droite) }}
                </div>
            </div>

            {# Options pour Intramammaire #}
            <div id="distorsionIntrammaireDroiteDetails" class="d-none mt-3">
                <div class="row mb-3">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.distorsion_intramammaire_topographie_droite) }}
                    </div>
                </div>

                {# Options pour "du quadrant" #}
                <div id="distorsionIntraQuadrantDroiteDetails" class="d-none">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            {{ form_row(form.densite_droite.distorsion_intramammaire_quadrant_droite) }}
                        </div>
                    </div>
                </div>

                {# Options pour "à l'union" et "en projection" #}
                <div id="distorsionIntraUnionDroiteDetails" class="d-none">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            {{ form_row(form.densite_droite.distorsion_intramammaire_union_quadrants_droite) }}
                        </div>
                    </div>
                </div>

                {# Options pour la densité #}
                <div class="row mb-3">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.distorsion_intramammaire_densite_droite) }}
                    </div>
                </div>
            </div>

            {# Options pour Des bords mammaires #}
            <div id="distorsionBordsDroiteDetails" class="d-none mt-3">
                <div class="row mb-3">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.distorsion_bords_topographie_droite) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.distorsion_bords_localisation_droite) }}
                    </div>
                </div>

                {# Options pour "au quadrant" #}
                <div id="distorsionBordsQuadrantDroiteDetails" class="d-none">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            {{ form_row(form.densite_droite.distorsion_bords_quadrant_droite) }}
                        </div>
                    </div>
                </div>

                {# Options pour "à l'union" et "en projection" #}
                <div id="distorsionBordsUnionDroiteDetails" class="d-none">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            {{ form_row(form.densite_droite.distorsion_bords_union_quadrants_droite) }}
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.distorsion_bords_type_droite) }}
                    </div>
                </div>
            </div>
        </div>

        {# Section Masses #}
        <div class="mb-4">
            <h5 class="mb-3">Masses</h5>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.densite_droite.masse_droite) }}
                </div>
            </div>

            {# Ajout d'un espace vertical #}
            <div class="mb-4"></div>

            {# Container pour les masses #}
            <div id="massesDroiteContainer">
                {# Template pour une masse #}
                <div id="masseTemplateDroite" class="masse-item border rounded p-3 mb-3 position-relative d-none">
                    <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 delete-masse">
                        <i class="bi bi-trash"></i>
                    </button>
                    
                    <div class="row">
                        <div class="col-md-2">
                            <div class="numero-masse fw-bold"></div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.masse_topographie_droite, {
                                'label': 'Topographie',
                                'attr': {'class': 'form-select masse-topographie'}
                            }) }}
                        </div>
                    </div>

                    {# Détails du quadrant #}
                    <div class="quadrant-details d-none">
                        <div class="row mt-3">
                            <div class="col-md-4">
                                {{ form_row(form.densite_droite.masse_quadrant_droite, {
                                    'label': 'Quadrant',
                                    'attr': {'class': 'form-select'}
                                }) }}
                            </div>
                        </div>
                    </div>

                    {# Détails de l'union #}
                    <div class="union-details d-none">
                        <div class="row mt-3">
                            <div class="col-md-4">
                                {{ form_row(form.densite_droite.masse_union_quadrants_droite, {
                                    'label': 'Union des quadrants',
                                    'attr': {'class': 'form-select'}
                                }) }}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.masse_profondeur_droite, {
                                'label': 'Profondeur',
                                'attr': {'class': 'form-select'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-3">
                            {{ form_row(form.densite_droite.masse_taille_x_droite, {
                                'label': 'Taille X (mm)',
                                'attr': {'class': 'form-control', 'type': 'number'}
                            }) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.densite_droite.masse_taille_y_droite, {
                                'label': 'Taille Y (mm)',
                                'attr': {'class': 'form-control', 'type': 'number'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.masse_forme_droite, {
                                'label': 'Forme',
                                'attr': {'class': 'form-select'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.masse_contours_droite, {
                                'label': 'Contours',
                                'attr': {'class': 'form-select'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.masse_densite_droite, {
                                'label': 'Densité',
                                'attr': {'class': 'form-select masse-densite'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.masse_calcifications_droite, {
                                'label': 'Microcalcifications',
                                'attr': {'class': 'form-select'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.masse_anteriorite_droite, {
                                'label': 'Antériorité',
                                'attr': {'class': 'form-select'}
                            }) }}
                        </div>
                    </div>
                </div>
            </div>

            {# Bouton pour ajouter une nouvelle masse #}
            <button type="button" id="ajouterMasseDroite" class="btn btn-primary mt-3 d-none">
                <i class="bi bi-plus-circle me-2"></i>Ajouter une masse
            </button>
        </div>

        {# Section Microcalcifications Suspectes #}
        <div class="mb-4">
            <h5 class="mb-3">Microcalcifications suspectes</h5>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.densite_droite.microcalcifications_suspectes_droite) }}
                </div>
            </div>

            {# Ajout d'un espace vertical #}
            <div class="mb-4"></div>

            {# Container pour les microcalcifications #}
            <div id="microcalcificationsDroiteContainer">
                {# Template pour les microcalcifications #}
                <div id="microcalcificationsTemplateDroite" class="microcalcifications-item border rounded p-3 mb-3 position-relative d-none">
                    <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 delete-microcalcifications">
                        <i class="bi bi-trash"></i>
                    </button>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="numero-microcalcifications fw-bold"></div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.microcalcifications_distribution_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.microcalcifications_forme_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.microcalcifications_topographie_droite) }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.microcalcifications_quadrant_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.microcalcifications_union_quadrants_droite) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.densite_droite.microcalcifications_profondeur_droite) }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            {{ form_row(form.densite_droite.microcalcifications_taille_x_droite) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.densite_droite.microcalcifications_taille_y_droite) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.densite_droite.microcalcifications_comparaison_droite) }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            {{ form_row(form.densite_droite.microcalcifications_anomalie_droite) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.densite_droite.microcalcifications_attitude_droite) }}
                        </div>
                    </div>
                </div>
            </div>

            {# Bouton pour ajouter de nouvelles microcalcifications #}
            <button type="button" id="ajouterMicrocalcificationsDroite" class="btn btn-primary mt-3 d-none">
                <i class="bi bi-plus-circle me-2"></i>Ajouter des microcalcifications
            </button>
        </div>

        {# Section Calcifications non suspectes #}
        <div class="mb-4">
            <h5 class="mb-3">Calcifications non suspectes</h5>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.densite_droite.calcifications_non_suspectes_droite, {
                        'id': 'form_densite_droite_calcifications_non_suspectes_droite'
                    }) }}
                </div>
            </div>

            {# Options pour les calcifications non suspectes #}
            <div id="calcificationsNonSuspectesOptionsDroite" class="d-none mt-3">
                <div class="row mb-3">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.calcifications_type_droite, {
                            'id': 'form_densite_droite_calcifications_type_droite',
                            'label': 'Type de calcifications',
                            'attr': {
                                'class': 'form-select'
                            }
                        }) }}
                    </div>
                </div>
            </div>
        </div>

        {# Section Désorganisation architecturale #}
        <div class="mb-4">
            <h5 class="mb-3">Désorganisation architecturale</h5>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.densite_droite.desorganisation_architecturale_droite, {
                        'id': 'form_densite_droite_desorganisation_architecturale_droite'
                    }) }}
                </div>
            </div>

            {# Options pour la désorganisation architecturale #}
            <div id="desorganisationOptionsDroite" class="d-none mt-3">
                <div class="row mb-3">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.desorganisation_topographie_droite, {
                            'id': 'form_densite_droite_desorganisation_topographie_droite'
                        }) }}
                    </div>
                </div>

                {# Options pour le quadrant #}
                <div id="desorganisationQuadrantDroiteDetails" class="d-none">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            {{ form_row(form.densite_droite.desorganisation_quadrant_droite, {
                                'id': 'form_densite_droite_desorganisation_quadrant_droite'
                            }) }}
                        </div>
                    </div>
                </div>

                {# Options pour l'union et la projection #}
                <div id="desorganisationUnionDroiteDetails" class="d-none">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            {{ form_row(form.densite_droite.desorganisation_union_quadrants_droite, {
                                'id': 'form_densite_droite_desorganisation_union_quadrants_droite'
                            }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Section prolongement axillaire #}
        <div class="mb-4">
            <h5 class="mb-3">Prolongement axillaire</h5>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.densite_droite.prolongement_axillaire_droite) }}
                    <div id="prolongementAxillaireTypeDroite" class="d-none mt-3">
                        {{ form_row(form.densite_droite.prolongement_axillaire_type_droite) }}
                    </div>
                </div>
            </div>
        </div>

        {# Section téguments cutanés #}
        <div class="mb-4">
            <h5 class="mb-3">Téguments cutanés</h5>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.densite_droite.teguments_cutanes_droite) }}
                </div>
            </div>

            {# Options pour épaississement #}
            <div id="tegumentsEpaissiTypeDroite" class="d-none mt-3">
                <div class="row mb-3">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.teguments_epaissi_type_droite) }}
                    </div>
                </div>

                {# Options pour type diffus #}
                <div id="tegumentsEpaissiRTDroite" class="d-none mt-3">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            {{ form_row(form.densite_droite.teguments_epaissi_rt_droite) }}
                        </div>
                    </div>
                </div>

                {# Options pour type focal #}
                <div id="tegumentsEpaissiTopoDroite" class="d-none mt-3">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            {{ form_row(form.densite_droite.teguments_epaissi_topographie_droite) }}
                        </div>
                    </div>
                </div>
            </div>

            {# Commentaire #}
            <div id="tegumentsCommentaireDroite" class="d-none mt-3">
                <div class="row mb-3">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.teguments_commentaire_droite) }}
                    </div>
                </div>
            </div>
        </div>

        {# Section Exploration échographique #}
        <div class="mb-4">
            <h5 class="mb-3">Exploration échographique</h5>
            
            {# Masse échographique #}
            <div class="mb-4">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.masse_echo_droite) }}
                    </div>
                </div>

                 {# Ajout d'un espace vertical #}
                <div class="mb-4"></div>

                {# Container pour les masses échographiques #}
                <div id="masseEchoDroiteContainer">
                    {# Template pour une masse échographique #}
                    <div id="masseEchoTemplateDroite" class="masse-echo-item border rounded p-3 mb-3 position-relative d-none">
                        <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 delete-masse-echo">
                            <i class="bi bi-trash"></i>
                        </button>
                        
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.densite_droite.masse_echo_numero_droite, {
                                    'label': 'Numéro Mécho',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4">
                                {{ form_row(form.densite_droite.masse_echo_topographie_droite, {
                                    'label': 'Topographie',
                                    'attr': {'class': 'form-select masse-echo-topographie'}
                                }) }}
                            </div>
                        </div>

                        {# Détails du quadrant #}
                        <div class="quadrant-echo-details d-none">
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    {{ form_row(form.densite_droite.masse_echo_quadrant_droite, {
                                        'label': 'Quadrant',
                                        'attr': {'class': 'form-select'}
                                    }) }}
                                </div>
                            </div>
                        </div>

                        {# Détails de l'union #}
                        <div class="union-echo-details d-none">
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    {{ form_row(form.densite_droite.masse_echo_union_quadrants_droite, {
                                        'label': 'Union des quadrants',
                                        'attr': {'class': 'form-select'}
                                    }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-3">
                                {{ form_row(form.densite_droite.masse_echo_rayon_droite, {
                                    'label': 'Rayon (h)',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.densite_droite.masse_echo_distance_mammelon_droite, {
                                    'label': 'Distance du mammelon (cm)',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-3">
                                {{ form_row(form.densite_droite.masse_echo_taille_x_droite, {
                                    'label': 'Taille X (mm)',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.densite_droite.masse_echo_taille_y_droite, {
                                    'label': 'Taille Y (mm)',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.densite_droite.masse_echo_taille_z_droite, {
                                    'label': 'Taille Z (mm)',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4">
                                {{ form_row(form.densite_droite.masse_echo_forme_droite, {
                                    'label': 'Forme',
                                    'attr': {'class': 'form-select'}
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.densite_droite.masse_echo_contours_droite, {
                                    'label': 'Contours',
                                    'attr': {'class': 'form-select'}
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.densite_droite.masse_echo_stroma_droite, {
                                    'label': 'Stroma',
                                    'attr': {'class': 'form-select'}
                                }) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                {{ form_row(form.densite_droite.masse_echo_echostructure_droite, {
                                    'label': 'Échostructure',
                                    'attr': {'class': 'form-select'}
                                }) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                {{ form_row(form.densite_droite.masse_echo_correspondance_mammo_droite, {
                                    'label': 'Correspondance mammographie',
                                    'attr': {'class': 'form-select'}
                                }) }}
                            </div>
                            <div class="col-md-6 numero-mammo-container d-none">
                                {{ form_row(form.densite_droite.masse_echo_numero_mammo_droite, {
                                    'label': 'Numéro Mmammo',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                {{ form_row(form.densite_droite.masse_echo_anteriorite_suivi_droite, {
                                    'label': 'Antériorité suivi',
                                    'attr': {'class': 'form-select'}
                                }) }}
                            </div>
                            <div class="col-md-3 tailles-evolution d-none">
                                {{ form_row(form.densite_droite.masse_echo_taille_precedente_droite, {
                                    'label': 'Taille précédente',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="col-md-3 tailles-evolution d-none">
                                {{ form_row(form.densite_droite.masse_echo_taille_actuelle_droite, {
                                    'label': 'Taille actuelle',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                {{ form_row(form.densite_droite.masse_echo_birads_droite, {
                                    'label': 'Classification BI-RADS',
                                    'attr': {'class': 'form-select'}
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>

                {# Bouton pour ajouter une nouvelle masse échographique #}
                <button type="button" id="ajouterMasseEchoDroite" class="btn btn-primary mt-3 d-none">
                    <i class="bi bi-plus-circle me-2"></i>Ajouter une masse
                </button>
            </div>

            {# Non masse échographique #}
            <div class="mb-4">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.densite_droite.non_masse_echo_droite) }}
                    </div>
                </div>

                {# Ajout d'un espace vertical #}
                <div class="mb-4"></div>

                {# Container pour les non-masses échographiques #}
                <div id="nonMasseEchoDroiteContainer">
                    {# Template pour une non-masse échographique #}
                    <div id="nonMasseEchoTemplateDroite" class="non-masse-echo-item border rounded p-3 mb-3 position-relative d-none">
                        <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 delete-non-masse-echo">
                            <i class="bi bi-trash"></i>
                        </button>

                        {# Champs communs pour dilatation canalaire avec image, plage hypoéchogène et microcalcifications #}
                        <div class="row mt-3">
                            <div class="col-md-4">
                                {{ form_row(form.densite_droite.non_masse_echo_topographie_droite, {
                                    'label': 'Topographie',
                                    'attr': {'class': 'form-select non-masse-echo-topographie'}
                                }) }}
                            </div>
                        </div>

                        {# Détails du quadrant #}
                        <div class="quadrant-non-masse-echo-details d-none">
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    {{ form_row(form.densite_droite.non_masse_echo_quadrant_droite, {
                                        'label': 'Quadrant',
                                        'attr': {'class': 'form-select'}
                                    }) }}
                                </div>
                            </div>
                        </div>

                        {# Détails de l'union #}
                        <div class="union-non-masse-echo-details d-none">
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    {{ form_row(form.densite_droite.non_masse_echo_union_quadrants_droite, {
                                        'label': 'Union des quadrants',
                                        'attr': {'class': 'form-select'}
                                    }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-3">
                                {{ form_row(form.densite_droite.non_masse_echo_rayon_droite, {
                                    'label': 'Rayon (h)',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.densite_droite.non_masse_echo_distance_mammelon_droite, {
                                    'label': 'Distance du mammelon (cm)',
                                    'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                        </div>

                        {# Champs spécifiques pour dilatation canalaire avec image #}
                        <div class="dilatation-avec-image-details d-none">
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    {{ form_row(form.densite_droite.non_masse_echo_taille_x_droite, {
                                        'label': 'Taille X (mm)',
                                        'attr': {'class': 'form-control'}
                                    }) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.densite_droite.non_masse_echo_taille_y_droite, {
                                        'label': 'Taille Y (mm)',
                                        'attr': {'class': 'form-control'}
                                    }) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.densite_droite.non_masse_echo_taille_z_droite, {
                                        'label': 'Taille Z (mm)',
                                        'attr': {'class': 'form-control'}
                                    }) }}
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-4">
                                    {{ form_row(form.densite_droite.non_masse_echo_forme_droite, {
                                        'label': 'Forme',
                                        'attr': {'class': 'form-select'}
                                    }) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.densite_droite.non_masse_echo_contours_droite, {
                                        'label': 'Contours',
                                        'attr': {'class': 'form-select'}
                                    }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Bouton pour ajouter une nouvelle non-masse échographique #}
                <button type="button" id="ajouterNonMasseEchoDroite" class="btn btn-primary mt-3 d-none">
                    <i class="bi bi-plus-circle me-2"></i>Ajouter une non-masse
                </button>
            </div>

        </div>
    </div>
</div> 